.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
.gitignore
.gradle/
.idea/
app/app.iml
app/build/
build/
gradle/
gradlew
gradlew.bat
local.properties
projectFilesBackup/
